{% extends 'ProjetSymfonyCinemaBundle::layout.html.twig' %}

{% block title %}{{ film.titre }}{% endblock %}

{% block body %}
    <h1>{{ film.titre }}</h1>

    <span>Ecrit par {{ film.realisateur }}</span>

    <p>{{ film.synopsis }}</p>

    <span>Nombre de pages : {{ film.nombrePages }}</span>


    <p><a href="{{ path('page_films') }}">Retour</a></p>
{% endblock %}
